body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.2em;
    margin: 0;
}
/*estilo a las clases*/
/*con el elemente position fixed, hacemos que la cabecera sea fija*/
.header{
    background: #333;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
    color: white;
    text-decoration: none;
    align-items: center;
}

.carrusel{
    width: auto;
    display: inline-block;
}

.container-fluid ul{
    list-style-type: none;
    margin: 0.5em auto;
    text-align:center;
    float: right;
}
.container-fluid ul li{
    display: inline;
}

.container-fluid ul li a{
    text-decoration: none;
    border: solid;
    border-color: #7D8471;
    border-radius: 50px;
    background-color: #7D8471;
    color: white;
    padding: 0.3em;
}

.container-fluid ul li a:hover{
    background-color: #B8B799;
    border-color: #B8B799;
}

p{
    text-align: justify;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.col-6 div-der p{
    text-align: justify;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

.footer p{
    font-size: 14px;
    text-align: center;
}

@media (max-width:480px){
    .container-fluid 
   
}