body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.2em;
    margin: 0;
}
h1{
    text-align: center;
}
.header{
    background: #333;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
    color: white;
    text-decoration: none;
    align-items: center;
}

.biografia{
    width: auto;
    padding: 30px 10px 10px 20px;
}

.container-fluid{
   width: auto;
}

.container-fluid ul{
    list-style-type: none;
    margin: 0.5em auto;
    text-align:center;
    float: right;
}
.container-fluid ul li{
    display: inline;
}

.container-fluid ul li a{
    text-decoration: none;
    border: solid;
    border-color: #7D8471;
    border-radius: 50px;
    background-color: #7D8471;
    color: white;
    padding: 0.3em;
}

.container-fluid ul li a:hover{
    background-color: #f2f2f2;
    border-color: #B8B799;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 13rem;
    margin-right: 13rem;
}
.header a{
    color: white;
    text-decoration: none;
    align-items: center;
}

#collapse navbar-collapse ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#collapse navbar-collapse ul li{
    display: inline-block;
}
/*p{
    text-align: justify;
    margin-left: 13rem;
    margin-right: 13rem;
}*/

.img_Centrada{
    text-align: center;
    display: block;
}

.parrafos{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.Pic_centrado {
    text-align: justify;
    margin-left: 13rem;
    margin-right: 13rem;
}

.carrusel-inner{
    width: ;

}
.carousel-item active{
    margin-top: auto;
    padding-top: 20px;
}

.footer{
    background: #f2f2f2;
}
.footer p{
    text-align: center;
    font-size: 12px;
}

@media(max-width:480px){
   .container-fluid{
    .img_Centrada, .carousel-inner, .parrafos, .biografia
   }
   .footer{
    .footer p;
   } 
}